@{
  Layout = "_Layout";
}

@model Music.Models.Instrument

<div class="jumbotron">
  <h1>Are you sure you want to delete @Html.DisplayFor(model => model.Name)?</h1>
</div>

@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)
@using (Html.BeginForm())
{
  <input type="submit" value="Delete" />
}
@Html.ActionLink("Back to List", "Index")