div#header {
  position:fixed;
  top:0px;
  left:0px;
  width:100%;
  color:rgb(253, 71, 71);
  background:rgb(100, 100, 100);
  padding:8px;
  text-align: center;
}

.jumbotron {
  text-align: center;
}

.floatMe {
  float: right;
}

.first{
  margin-left: 10vw;
}

.second {
  margin-left: 20vw;
}

.card1{
  margin-top: 5vh;
  margin-left: 5vw;
  width: 30vw;
}

.card2 {
  margin-top: 5vh;
  margin-left: 5vw;
  width: 30vw;
}